@font-face {
    font-family: 'UTMAvo';
    src: url('/fonts/font-web/UTMAvo/UTM Avo.eot');
    src: url('/fonts/font-web/UTMAvo/UTM Avo.eot?#iefix') format('embedded-opentype');
    src: url('/fonts/font-web/UTMAvo/UTMAvo.woff') format('woff'), url('/fonts/font-web/UTMAvo/UTMAvo.ttf') format('truetype'), url('/fonts/font-web/UTMAvo/UTMAvo.svg#UTMAvo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UTMAvo';
    src: url('/fonts/font-web/UTMAvo/UTM AvoBold.eot');
    src: url('/fonts/font-web/UTMAvo/UTM AvoBold.eot?#iefix') format('embedded-opentype');
    src: url('/fonts/font-web/UTMAvo/UTMAvoBold.woff') format('woff'), url('/fonts/font-web/UTMAvo/UTMAvoBold.ttf') format('truetype'), url('/fonts/font-web/UTMAvo/UTMAvoBold.svg#UTMAvoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
/******/
@font-face {
    font-family: "iCielSimplifica";
    src: url("/fonts/font-web/iCielSimplifica/iCielSimplifica.eot"); /* IE9 Compat Modes */
    src: url("/fonts/font-web/iCielSimplifica/iCielSimplifica.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/font-web/iCielSimplifica/iCielSimplifica.otf") format("opentype"), /* Open Type Font */
    url("/fonts/font-web/iCielSimplifica/iCielSimplifica.svg") format("svg"), /* Legacy iOS */
    url("/fonts/font-web/iCielSimplifica/iCielSimplifica.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/font-web/iCielSimplifica/iCielSimplifica.woff") format("woff"), /* Modern Browsers */
    url("/fonts/font-web/iCielSimplifica/iCielSimplifica.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
