<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Rules>
    <Rule Type="HideTabs" Enabled="true" Names="Info" Users="developer" UserTypes="Administrators" ContentIds="" ParentContentIds="" ContentTypes="" Description="Example" />
  </Rules>
  <Scripts>
    <Script Name="example">console.log('Hello world');</Script>
  </Scripts>
</Config>